<h1>Registration Web app</h1>
<br>
<br>
<form class="entry" method="post" action="/reg_number">

<input type="text" name="name" placeholder="Please enter a registration number" id="input">
<input type="submit" value="Add" id="button">
<br>
</form>
<form class="entry" action="/filter-towns" method="post">

<input type="radio"  name="regNum" class="radio" value="CA"> Cape Town
  <input type="radio" name="regNum" class="radio" value="CJ"> Paarl
  <input type="radio" name="regNum" class="radio"value="CY"> Belville
<input type="radio" name="regNum" value="All">All
  <br>
  <br>
  <input type="submit" name="name" value="Show" id="button">
</form>
<br>
<br>
<br>
<div class='town'>

{{#each listReg}}

<div class='numPlate'>

  {{this.RegNumber}}

</div>

{{/each}}


{{#each output}}

<div class='numPlate'>

{{this.RegNumber}}


</div>

{{/each}}

</div>


</div>
