<h1>Registration Web app</h1>
<br>
<br>
<form class="entry" method="post" action="/reg_number">

<input type="text" name="name" placeholder="Please enter a registration number" id="input">
<input type="submit" value="Add" id="button">
<br>
<input type="radio"  name="gender" class="radio" value="Cape Town"> Cape Town<br>
  <input type="radio" name="gender" class="radio" value="Paarl"> Paarl<br>
  <input type="radio" name="gender" class="radio"value="Belville"> Belville
<!-- <div class='numplate'> -->
{{output}}
<!-- </div> -->
{{#each numplate}}
<ul>
 <li>{{this}}</li>
</ul>
{{/each}}

</form>
