/*}*/
.numPlate{
  background-color: yellow;
  border:solid black;
  border-radius: 5px;
  width: 150px;
  height: 60px;
  display: inline-block;
}
h1{
  font-size: 50px;
  text-align:center;

}
.container {
    background-color: lightgrey;
    width: 500px;
    border: 25px solid lightblue;
    padding: 25px;
    margin: 25px;
    align:left;
}*/
input {
    text-align: center;
    font-size: 32px;
    background-color: lightblue;
    border-radius: 10px;


}
input[type=submit]{
  background-color: brown;

  }
  input, textarea, select {
  margin-top: 10px; display: block;
}
  input[type=radio] {
    display: inline;
  }
